node {
	text-alignment: under;
	text-background-mode: plain;
	text-background-color: #CFCFCF;
	text-color: #000;
	text-style: bold;
	text-padding: 3px;
	text-offset: 0px, 3px;
	fill-mode: plain;
	size: 30px;
}
node.cer {
	fill-color: red;
}
node.per {
	fill-color: green;
}
node.cro {
	fill-color: blue;
}
edge {
	size: 2px;
	text-alignment: center;
	text-background-mode: plain;
	text-background-color: #CFCFCF;
	text-color: #000;
	text-style: bold;
	text-padding: 3px;
	text-offset: 0px, 3px;
}
sprite {
	shape: flow;
	size: 7px;
	z-index: 0;
}
sprite.S1 {
	fill-color: #F00;
}
sprite.S4 {
	fill-color: #0F0;
}
sprite.S2 {
	fill-color: #00F;
}
sprite.S5 {
	fill-color: #FF0;
}
sprite.S3 {
	fill-color: #0FF;
}
sprite.S6 {
	fill-color: #F0F;
}
sprite.S7 {
	fill-color: #123456;
}
sprite.S8 {
	fill-color: #345612;
}
sprite.S9 {
	fill-color: #561234;
}
sprite.S10 {
	fill-color: #009999;
}